/* Bojan Vasic for Hubspot 23.01.2019 */
body {
  background: #ffffff;
  margin: 0;
  font-family: Montserrat; }
  body ul {
    list-style-type: none; }

.contentHolder {
  margin-left: auto;
  margin-right: auto;
  height: 100px; }
  .contentHolder .header {
    background: #00A2E0;
    border-top: 2px solid #434343;
    border-bottom: 2px solid #434343; }
    .contentHolder .header .headerTitle {
      margin-left: auto;
      margin-right: auto;
      padding: 15px 0;
      width: 1024px;
      display: block;
      color: #ffffff;
      vertical-align: center;
      font-weight: bold;
      font-size: 18px; }
      .contentHolder .header .headerTitle .centeredTitle {
        height: 25px; }
  .contentHolder .moviesList {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
    width: 1024px;
    border: 1px solid #F0F0F0; }
    .contentHolder .moviesList .filterBar {
      border-top: 2px solid #F0F0F0;
      border-bottom: 2px solid #F0F0F0;
      padding: 10px 0; }
      .contentHolder .moviesList .filterBar .clearFilters {
        float: right;
        padding-right: 10px; }
  .contentHolder .footer {
    background: #00A2E0;
    border-top: 2px solid #434343;
    border-bottom: 2px solid #434343; }
    .contentHolder .footer .headerTitle {
      margin-left: auto;
      margin-right: auto;
      padding: 15px 0;
      width: 1024px;
      display: block;
      color: #ffffff;
      vertical-align: center;
      font-weight: bold;
      font-size: 18px; }
      .contentHolder .footer .headerTitle .centeredTitle {
        height: 25px; }
  .contentHolder .moviesContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
    width: 1024px;
    border: 1px solid #F0F0F0; }
    .contentHolder .moviesContainer .movieContainer {
      display: inline-block;
      max-width: 33%;
      padding: 15px;
      vertical-align: top;
      z-index: 1;
      position: relative; }
      .contentHolder .moviesContainer .movieContainer .movieImage {
        width: 100%; }
        .contentHolder .moviesContainer .movieContainer .movieImage .imgResponsive {
          width: 300px;
          height: auto; }
  .contentHolder .testimonialBlock {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    width: 1024px; }

* {
  box-sizing: border-box; }

.row {
  display: flex; }

/* Create three equal columns that sits next to each other */
.column {
  display: inline-block;
  padding: 5px;
  max-width: 31%; }

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;
  cursor: pointer; }
  .dropdown .searchBar {
    float: right; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 99; }

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer; }

.topFilterBar {
  padding: 10px; }

.searchBar {
  float: right; }
