/* Bojan Vasic for Hubspot 23.01.2019 */
body {
  background: #ffffff;
  margin: 0;
  font-family: Montserrat; }
  body ul {
    list-style-type: none; }

.contentHolder {
  margin-left: auto;
  margin-right: auto;
  height: 100px; }
  .contentHolder .header {
    background: #00A2E0;
    border-top: 2px solid #434343;
    border-bottom: 2px solid #434343; }
    .contentHolder .header .headerTitle {
      margin-left: auto;
      margin-right: auto;
      padding: 15px 0;
      width: 1024px;
      display: block;
      color: #ffffff;
      vertical-align: center;
      font-weight: bold;
      font-size: 18px; }
      .contentHolder .header .headerTitle .centeredTitle {
        height: 25px; }
  .contentHolder .moviesList {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 0;
    width: 1024px;
    border: 1px solid #F0F0F0; }
    .contentHolder .moviesList .filterBar {
      border-top: 2px solid #F0F0F0;
      border-bottom: 2px solid #F0F0F0;
      padding: 10px; }
      .contentHolder .moviesList .filterBar .clearFilters {
        float: right;
        padding-right: 10px; }
      .contentHolder .moviesList .filterBar a {
        font-weight: bold;
        color: #000000; }
  .contentHolder .randomJoke .headerTitle {
    background: #00A2E0;
    border-top: 2px solid #434343;
    border-bottom: 2px solid #434343;
    margin-bottom: 20px;
    padding: 15px 0;
    display: block;
    color: #ffffff;
    vertical-align: center;
    font-weight: bold;
    font-size: 18px; }
    .contentHolder .randomJoke .headerTitle .centeredTitle {
      width: 1024px;
      height: 25px;
      margin-left: auto;
      margin-right: auto; }
  .contentHolder .moviesContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
    width: 1024px;
    border: 1px solid #F0F0F0; }
    .contentHolder .moviesContainer .movieContainer {
      display: inline-block;
      max-width: 33%;
      padding: 15px;
      vertical-align: top;
      z-index: 1;
      position: relative; }
      .contentHolder .moviesContainer .movieContainer .movieImage {
        width: 100%; }
        .contentHolder .moviesContainer .movieContainer .movieImage .imgResponsive {
          width: 300px;
          height: auto; }
  .contentHolder .testimonialBlock {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px 15px;
    width: 1024px;
    background: #F9F8F7; }
    .contentHolder .testimonialBlock .testimonialLeftContainer {
      display: inline-block;
      width: 60%; }
    .contentHolder .testimonialBlock .testimonialRightContainer {
      display: inline-block;
      width: 35%;
      text-align: center; }
    .contentHolder .testimonialBlock button {
      display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin: 0;
      text-decoration: none;
      background: #0069ed;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out,  transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .contentHolder .testimonialBlock button:hover,
    .contentHolder .testimonialBlock button:focus {
      background: #0053ba; }
    .contentHolder .testimonialBlock button:focus {
      outline: 1px solid #fff;
      outline-offset: -4px; }
    .contentHolder .testimonialBlock button:active {
      transform: scale(0.99); }

/* GENERIC CSS */
* {
  box-sizing: border-box; }

.row {
  display: flex; }

/* Create three equal columns that sits next to each other */
.column {
  display: inline-block;
  padding: 5px;
  max-width: 31%; }

.dropdown {
  position: relative;
  background: #f9f9f9;
  border-bottom: 2px solid #e1e1e1;
  display: inline-block;
  z-index: 999;
  cursor: pointer;
  padding: 10px 20px; }
  .dropdown .dropdownDecor i {
    border: solid #b0aea7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 30px; }
  .dropdown .dropdownDecor .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .dropdown .searchBar {
    float: right; }

.dropdown-content:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -55px;
  margin-top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e1e1e1; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 99;
  margin-left: -20px;
  margin-top: 12px;
  border: 1px solid #e1e1e1; }
  .dropdown-content .menuItem {
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
    margin: 0; }
    .dropdown-content .menuItem span {
      margin: 10px 10px 10px 10px;
      display: block; }
      .dropdown-content .menuItem span input {
        cursor: pointer; }
      .dropdown-content .menuItem span label {
        cursor: pointer; }

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer; }

.topFilterBar {
  padding: 10px; }

.searchBar {
  float: right; }

.mousePointer {
  cursor: pointer; }
