<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/_fonts %>
        <base href="/">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/global.css" />

    </head>
    <body>
    	<div class="contentHolder">
	    	<div class="header">
	    		<% include ../partials/_header %>
	    	</div>
	    	
	    	<div class="moviesList">
		    	<div class="moviesContainer">
					  <% for(var i=0; i < content.media.length; i++) {  %>
						  <div class="movieContainer">
						    <img src="<%= content.media[i].poster %>" alt="Snow" style="width:100%">
						    <div><%= content.media[i].title + " (" + content.media[i].year + " )" %></div>
					    	<div><b>Genres:</b> <%= content.media[i].genre %></div>
					    	<div><b>TYPE(used for filtering):</b> <%= content.media[i].type %></div>
						  </div>
					 <% } %>
		    	</div>
	    	</div>
	    	
	    	<div class="footer">
		    	<% include ../partials/_testimonial %>
		    </div>
	        <div class="testimonialBlock">
				<div>
					<div>
						<p>Polaroid bushwich microdosing tattooed. Cornhold single coffee bicycle rights lumbersexual, pour-over
							intelligents ethical selfies schlitz raw denim 90's leggings. Art party fap lumbersexual mustache actually tilde
							disrupt kinfolk goth +1.</p>
						<span>Indiana Jones, Archaeologist</span>
					</div>
					<a>Tell Me More</a>
				</div>
			</div>

	        <% include ../partials/_cta %>

	        <% include ../partials/_filterable-content %>
			
		</div>
    </body>
</html>