<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/_fonts %>
        <base href="/">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/global.css" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body>
    	<div class="contentHolder">
	    	<div class="header">
	    		<% include ../partials/_header %>
	    	</div>
	    	<span></span>
	    	<div class="moviesList">
	    		<% include ../partials/_filterable-content %>
		    	<div class="moviesContainer">
					  <% for(var i=0; i < content.media.length; i++) {  %>
						  <div class="movieContainer">
						    <img src="<%= content.media[i].poster %>" style="width:100%">
						    <div><b><%= content.media[i].title + " (" + content.media[i].year + " )" %></b></div>
					    	<div><b>Genres: <%= content.media[i].genre %></b></div>
					    	<!-- <div><b>TYPE(used for filtering): <%= content.media[i].type %></b></div> -->
						  </div>
					 <% } %>
		    	</div>
	    	</div>
	        <div>
	        	<div class="randomJoke"><% include ../partials/_testimonial %></div>
			</div>			
		</div>
		<script type="text/javascript" src="../js/global.js"></script>
    </body>
</html>