<section>
	<div>
		<div>
			<div>
				<div>
					<div>
						<span>Genre</span>
						<div></div>
					</div>
					<div>
						<span>Year</span>
						<div></div>
					</div>
					<div>
						<input type="text">
					</div>
				</div>
				<div>
					<div>
						<input type="radio" name="movieOrBook" id="movieRadio">
						<label>Movies</label>
					</div>
					<div>
						<input type="radio" name="movieOrBook" id="bookRadio">
						<label>Books</label>
					</div>
					<div >
						<a href="#">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div>
			<div>
				<ul></ul>
			</div>
		</div>
	</div>
</section>