<div class="headerTitle">
	<div class="centeredTitle">
		Excercise 2 - Testimonial block
	</div>
</div>
<div class="testimonialBlock">
	<div>
		<div>
			<p class="testimonialLeftContainer">Polaroid bushwich microdosing tattooed. Cornhold single coffee bicycle rights lumbersexual, pour-over
				intelligents ethical selfies schlitz raw denim 90's leggings. Art party fap lumbersexual mustache actually tilde
				disrupt kinfolk goth +1.</p>
			<span><% include ../partials/_cta %></span>
		</div>
	</div>
</div>