<div class="headerTitle">
	<div class="centeredTitle">
		Excercise 2 - Testimonial block
	</div>
</div>
<div class="testimonialBlock">
	<div>
		<div>
			<p class="testimonialLeftContainer">Click button below to get some random Chuck Norris jokes</p>
			<span><% include ../partials/_cta %></span>
		</div>
	</div>
</div>