/* Bojan Vasic for Hubspot 23.01.2019 */
$headerBorders: #434343;

body{
	background: #ffffff;
	margin: 0;
	font-family: Montserrat;
	ul {
		list-style-type: none;
	}
}

.contentHolder {
	margin-left:auto;
	margin-right:auto;
	height:100px;
		.header {
			background:#00A2E0;
			border-top:2px solid $headerBorders;
			border-bottom:2px solid $headerBorders;
				.headerTitle{
					margin-left:auto;
					margin-right: auto;
					padding:15px 0;
					width:1024px;
					display: block;
					color: #ffffff;
					vertical-align: center;
					font-weight: bold;
					font-size:18px;
						.centeredTitle{
							height:25px;
						}
				}
			}
		.moviesList{
			    margin-left: auto;
			    margin-right: auto;
			    padding: 0 0;
			    width: 1024px;
			    border: 1px solid #F0F0F0;
			    .filterBar{
			    	border-top: 2px solid #F0F0F0;
			    	border-bottom: 2px solid #F0F0F0;
			    	padding:10px 0;
			    	.clearFilters{
				    	float:right;
				    	padding-right: 10px;
				    }
			    }
			    
		}
		.footer {
			background:#00A2E0;
			border-top:2px solid $headerBorders;
			border-bottom:2px solid $headerBorders;
				.headerTitle{
					margin-left:auto;
					margin-right: auto;
					padding:15px 0;
					width:1024px;
					display: block;
					color: #ffffff;
					vertical-align: center;
					font-weight: bold;
					font-size:18px;
						.centeredTitle{
							height:25px;
						}
				}
	}
	.moviesContainer{
	    margin-left: auto;
	    margin-right: auto;
	    padding: 0 0;
	    width: 1024px;
	    border: 1px solid #F0F0F0;
	    .movieContainer{
	    	display: inline-block;
	    	max-width: 33%;
	    	padding: 15px;
	    	vertical-align: top;
	    	z-index: 1;
	    	position: relative;
	    	.movieImage {
	    		width: 100%;
	    		.imgResponsive{
	    			width: 300px;
    				height: auto;
	    		}
	    	}
	    }
	}
	.testimonialBlock{
	    margin-left: auto;
	    margin-right: auto;
	    padding: 15px 0;
	    width: 1024px;
	}
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    display: inline-block;
    padding: 5px;
    max-width: 31%;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;
  cursor: pointer;
  .searchBar{
  	float:right;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 99;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.topFilterBar {
	padding:10px;
}

.searchBar{
	float:right;
}